@font-face { font-family: Aino; 
  src: url('./pildid-fontid/Aino-fonts/Aino_31_170411-Regular.otf'); }                    /*Aino typeface'i importimine*/
@font-face { font-family: Aino; font-weight: bold; 
  src: url('./pildid-fontid/Aino-fonts/Aino_31_170411-Regular.otf');}
@font-face { font-family: AinoH; 
  src: url('./pildid-fontid/Aino-fonts/Aino-Headline.otf'); } 
@font-face { font-family: AinoH; font-weight: bold; 
  src: url('./pildid-fontid/Aino-fonts/Aino-Headline.otf');}
@font-face { font-family: AinoB; 
  src: url('./pildid-fontid/Aino-fonts/Aino_31_170411-Bold.otf'); } 
@font-face { font-family: AinoB; font-weight: bold; 
  src: url('./pildid-fontid/Aino-fonts/Aino_31_170411-Bold.otf');}
p {font-family:  Aino}
li {font-family:  Aino}                       
/*Süsteemitemita elementide visuaalne muutmine*/
#map {                                                      
    left:420px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
  }
#button {
  position: absolute;
  border-radius: 12px;
  color:white;
  top:770px;
  left:40px;
  font-size: 50px;
  font-family: Arial;
  padding: 10px;
  background-color: #33a532;
  z-index: 5;
}
  #infopanel {
    background-color: rgb(250, 250, 250);
    position: absolute;
    width: 420px;
    height: 100%;
    top: 0px;

  }
  html,
  body {
    background-image: url("pildid-fontid/tagataust.png");
    max-height: 1080px;
    max-width: 1920px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
  }
  .custom-map-control-button:hover {
    background: #ebebeb;
  }
  #welcome {
    font-size: 80px;
    font-family: AinoH;
    color:rgb(45, 92, 223);
  }
  #message {
    position: absolute;
    color: rgb(19, 199, 34);
    font-family: AinoH;
    font-size: 30px;
    top: 180px;
    left: 75px;
  }
  #startbutton {
    position:absolute;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  top:700px;
  left:350px;
  background-color:#e94545;
  }
  #instructions {
    border-radius:100px;
    top:50px;
    position: absolute;
    margin: auto;
    left: 30%;
    width: 800px;
    height: 900px;
    text-align: center;
    background-color:white;
  }
  p.objective {
    font-size:20px;
  }
  #chosenplace {
    font-size: 30px;
  }
  #list {
    position:absolute;
    text-align: left;
    left: 70px;
  }
  #demo {
      font-family:Aino;
      font-size: 30px;
  }
  #status {
    position:absolute;
    left:350px;
    width:50px;
    height:50px;
  }
  span.datashown {
    font-size: 35px;
    background-color: rgba(228, 226, 226, 0.253);
  }
  .placeinfo {
    font-size: 35px;
  }
  #preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 99;
    animation: disappear 0s linear 4s forwards;
  }
  
  @keyframes disappear {                      /*GIF faili kadumine*/
    to {height: 0px;}
  }

  #startbutton:hover {
    cursor: pointer;
  }
  #button:hover {
    cursor: pointer;
  }

  #website{
    font-size: 20px;
  }

  #otsing {
    width: 90%;
  }