#map {
    height: 700px;
    width: 700px;
    left: 1200px;
    position: absolute;
    z-index: 3;    
  }
#button {
  
}
  #infopanel {
    background-color: aquamarine;
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 200px;

  }
  html,
  body {
    background-image: url("tagataust.png");
    max-height: 1080px;
    max-width: 1920px;
    margin: 0;
    padding: 0;
  }
  
  .custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
  }
  .custom-map-control-button:hover {
    background: #ebebeb;
  }
  